// @import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// @import '../styles/global.scss';

.container {
  // background-color: #faf8ef;
  // width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.container > *:nth-child(2) {
  flex-shrink: 0;
}
